body{
    font-family: Arial;
    padding: 20px;
}
li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.done{
    text-decoration: line-through;
    color :blue;

}
button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input{
    padding: 10px;
    width: 200px;
}
h1{text-align: center;color: blue;}
.input-group { display: flex; gap: 10px; }

ul{list-style: none;margin: 0;padding: 0;}
h2{
    color: blue;
}